.u-socialConnect-wrapper .c-socialConnect__p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1.5em; }

.u-socialConnect-wrapper {
  width: 100%;
  max-width: 800px;
  margin: 4.5em auto 0 auto;
  padding: 0 1.5em;
  text-align: center; }
  .u-socialConnect-wrapper .c-socialConnect__p {
    margin-bottom: 1.5em !important; }
  .u-socialConnect-wrapper .u-socialConnect__icon {
    width: 48px;
    height: 48px;
    margin-right: 16px; }
  .u-socialConnect-wrapper a:last-of-type {
    margin-right: -16px; }
  .u-socialConnect-wrapper a {
    -webkit-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: 0.48; }
  .u-socialConnect-wrapper a:hover, .u-socialConnect-wrapper a:focus {
    outline: 0;
    opacity: 1; }

@media all and (max-width: 456px) {
  .u-socialConnect__icon {
    width: 40px !important;
    height: 40px !important; } }
