main .o-article--chapter .u-chapter__chapterTitle-wrapper .u-chapter__chapterNumber-wrapper .t-chapter__chapterNumber, main .o-article--chapter .u-chapter__chapterTitle-wrapper .u-chapter__chapterNumber-wrapper .t-chapter__chapterNumber--under {
  color: #ffffff;
  font-weight: 700;
  line-height: 1.5;
  color: #2979FF;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.8px; }

main .c-pageTitle .t-pageTitle__h1, main .o-article .t-article__h1 {
  font-size: 2.5em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 0.5em; }

main .o-article .t-article__h2, main .o-article--chapter .t-chapter__prologueTitle, main .o-article--chapter .u-highlight-wrapper mark {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1.5em; }

main section .t-aboutProject__a, .u-article--sliding-wrapper .o-article--sliding .t-article--sliding__a, .u-article--sliding-wrapper .o-article--sliding .t-article--sliding__p {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1.5em; }

main .o-article .t-article__p, main .o-article--chapter .t-chapter__p, .u-projectSlider-wrapper .u-project-wrapper .u-project__description .t-projectDescription__p {
  font-size: 1.125em;
  line-height: 2;
  margin-bottom: 1.5em; }

main .o-article .t-article__a, main .o-article--chapter .t-article__a {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #00ffdf), to(#00ffdf));
  background-image: -webkit-linear-gradient(left, #00ffdf 100%, #00ffdf 100%);
  background-image: -o-linear-gradient(left, #00ffdf 100%, #00ffdf 100%);
  background-image: linear-gradient(90deg, #00ffdf 100%, #00ffdf 100%);
  background-repeat: no-repeat;
  background-size: 110% 0.2em;
  background-position: 0 90%;
  -webkit-transition: background-size 0.2s ease-in-out;
  -o-transition: background-size 0.2s ease-in-out;
  transition: background-size 0.2s ease-in-out; }
  main .o-article .t-article__a:hover, main .o-article--chapter .t-article__a:hover {
    background-size: 110% 110%; }

main .o-article--chapter .u-chapter__chapterTitle-wrapper .t-chapter__title {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.0625em;
  text-transform: uppercase; }

.u-projectSlider-wrapper .u-project-wrapper .u-project__description .t-projectTitle__h1 {
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.4em;
  text-transform: uppercase; }

main .o-article--chapter .u-chapter__chapterSubtitle-wrapper .t-chapter__subtitle {
  font-size: 1.5em;
  line-height: 1.5;
  font-weight: 600; }

main .o-article--chapter .u-highlight-wrapper mark {
  background: #00FFDF;
  font-style: italic; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

.u-overFlowX-wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

main {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
  z-index: 1; }
  main .c-pageTitle .t-pageTitle__h1 {
    margin: 2rem 0;
    text-align: center;
    z-index: 2;
    position: relative; }
  main section {
    margin: 0 auto; }
    main section p:last-of-type {
      margin-bottom: 0 !important; }
    main section .t-aboutProject__a {
      color: #2979FF;
      cursor: pointer; }
    main section .t-aboutProject__a:hover {
      color: #448AFF; }
  main .o-article {
    max-width: 800px;
    padding: 4em 1.5em;
    margin: 0 auto; }
    main .o-article p:last-of-type {
      margin-bottom: 0 !important; }
    main .o-article a {
      text-decoration: none;
      color: #595b6f; }
    main .o-article a:active {
      color: #ffffff; }
  main .o-article--chapter {
    max-width: 800px;
    padding: 4em 1.5em;
    margin: 0 auto;
    position: relative;
    z-index: 0; }
    main .o-article--chapter .u-chapter__chapterTitle-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 2.5em; }
      main .o-article--chapter .u-chapter__chapterTitle-wrapper .u-chapter__chapterNumber-wrapper {
        position: relative;
        margin-right: 2em; }
        main .o-article--chapter .u-chapter__chapterTitle-wrapper .u-chapter__chapterNumber-wrapper .t-chapter__chapterNumber {
          -webkit-text-stroke-color: #2979FF;
          font-size: 4em; }
        main .o-article--chapter .u-chapter__chapterTitle-wrapper .u-chapter__chapterNumber-wrapper .t-chapter__chapterNumber--under {
          position: absolute;
          top: 0;
          left: 4px;
          z-index: -1;
          -webkit-text-stroke-color: #00FFDF;
          font-size: 4em; }
    main .o-article--chapter .u-chapter__chapterSubtitle-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin: 6em 0 2.5em 0; }
      main .o-article--chapter .u-chapter__chapterSubtitle-wrapper .u-chapter__chapterBox-wrapper {
        position: relative;
        margin-right: 2em; }
        main .o-article--chapter .u-chapter__chapterSubtitle-wrapper .u-chapter__chapterBox-wrapper .t-chapter__chapterBox {
          width: 2em;
          height: 2em;
          border: 1px solid #2979FF; }
        main .o-article--chapter .u-chapter__chapterSubtitle-wrapper .u-chapter__chapterBox-wrapper .t-chapter__chapterBox--under {
          width: 2em;
          height: 2em;
          position: absolute;
          top: -4px;
          left: 4px;
          z-index: -1;
          border: 1px solid #00FFDF; }
    main .o-article--chapter .u-highlight-wrapper {
      margin: 3em 0;
      text-align: center; }
      main .o-article--chapter .u-highlight-wrapper p {
        margin-top: 2em; }
    main .o-article--chapter p:last-of-type {
      margin-bottom: 0 !important; }
    main .o-article--chapter a {
      text-decoration: none;
      color: #595b6f; }
    main .o-article--chapter a:active {
      color: #ffffff; }
  main .o-artGallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-in-out;
    transition: -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-in-out;
    -o-transition: transform 1s ease-in-out, filter 1s ease-in-out;
    transition: transform 1s ease-in-out, filter 1s ease-in-out;
    transition: transform 1s ease-in-out, filter 1s ease-in-out, -webkit-transform 1s ease-in-out, -webkit-filter 1s ease-in-out; }
    main .o-artGallery figure {
      padding: 0 1.5em; }
    main .o-artGallery figcaption {
      padding: 0 1.5em; }

.u-projectSlider-wrapper {
  padding: 0 2em;
  position: relative;
  z-index: 0; }
  .u-projectSlider-wrapper a {
    outline: 0; }
  .u-projectSlider-wrapper .u-project-wrapper {
    border-radius: 4px;
    margin: 2em;
    -webkit-transition: margin 0.2s, -webkit-box-shadow 0.4s;
    transition: margin 0.2s, -webkit-box-shadow 0.4s;
    -o-transition: margin 0.2s, box-shadow 0.4s;
    transition: margin 0.2s, box-shadow 0.4s;
    transition: margin 0.2s, box-shadow 0.4s, -webkit-box-shadow 0.4s;
    -webkit-box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.24);
    cursor: pointer; }
    .u-projectSlider-wrapper .u-project-wrapper .u-project__cover {
      height: 50vh;
      background-size: cover !important;
      border-radius: 4px 4px 0 0; }
    .u-projectSlider-wrapper .u-project-wrapper .u-project__cover-1 {
      background: url(../assets/img/art/02-daydreaming.jpg) center center; }
    .u-projectSlider-wrapper .u-project-wrapper .u-project__cover-2 {
      background: url(../assets/img/art/01-dividedsoul.jpg) center center; }
    .u-projectSlider-wrapper .u-project-wrapper .u-project__cover-3 {
      background: url(../assets/img/art/03-drawings.jpg) center center; }
    .u-projectSlider-wrapper .u-project-wrapper .u-project__description {
      padding: 2.5em;
      background: #ffffff;
      border-radius: 0 0 4px 4px; }
      .u-projectSlider-wrapper .u-project-wrapper .u-project__description .t-projectTitle__h1 {
        margin-bottom: 1.5em; }
      .u-projectSlider-wrapper .u-project-wrapper .u-project__description .t-projectDescription__p {
        margin-bottom: 0 !important; }
  .u-projectSlider-wrapper .u-project-wrapper:hover {
    -webkit-box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.4);
    box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.4);
    margin-top: 1.8em; }
  @media all and (max-width: 900px) {
    .u-projectSlider-wrapper .u-project-wrapper:hover {
      margin-top: 2em; } }
  .u-projectSlider-wrapper .js-slick__navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 5em;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
    .u-projectSlider-wrapper .js-slick__navigation li {
      width: 0.5em;
      height: 0.5em;
      margin: 0 1em;
      border-radius: 1em;
      outline: 0;
      background: #ffffff;
      cursor: pointer; }
    .u-projectSlider-wrapper .js-slick__navigation .slick-active {
      background: #2979FF;
      -webkit-box-shadow: 0 0 1em #2979FF;
      box-shadow: 0 0 1em #2979FF; }

@media all and (max-width: 1600px) {
  .u-projectSlider-wrapper {
    padding: 1em !important; }
  .u-project-wrapper {
    margin: 1em !important; }
  .u-project-wrapper:hover {
    -webkit-box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.24) !important;
    box-shadow: 0 0.25em 2.5em 0 rgba(0, 0, 0, 0.24) !important;
    margin-top: 1em; } }

@media all and (max-width: 540px) {
  .u-projectSlider-wrapper {
    padding: 0 !important; }
  .u-project-wrapper {
    margin: 1em !important; }
  .u-project-wrapper:hover {
    margin-top: 1em !important; } }

.u-article--sliding-wrapper {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  right: -100vw;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  -o-transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out; }
  .u-article--sliding-wrapper .o-article--sliding {
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1; }
