.u-emailForm-wrapper .o-emailForm .c-emailForm__h2 {
  font-size: 2em;
  line-height: 1.5;
  font-weight: 300;
  margin-bottom: 1.5em; }

.u-emailForm-wrapper {
  width: 100%;
  padding: 5em 0 5em 0;
  margin-bottom: 4em;
  background: #fafaff; }
  .u-emailForm-wrapper .o-emailForm {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5em; }
    .u-emailForm-wrapper .o-emailForm .u-textField-wrapper {
      position: relative;
      margin-top: 3.5em; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField {
        width: 100%;
        padding: 10px 0;
        display: block;
        font-size: 1em;
        background: transparent;
        border: none;
        border-bottom: 1px solid #c3ccd6; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper input:focus {
        outline: none; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__label {
        color: #9a9aa2;
        font-size: 1em;
        font-weight: 500;
        position: absolute;
        left: 0;
        top: 12px;
        pointer-events: none;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper input:focus ~ label, .u-emailForm-wrapper .o-emailForm .u-textField-wrapper input:valid ~ label {
        top: -20px;
        font-size: 0.9em;
        color: #2979FF; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .u-labelPositioner__js {
        top: -20px;
        font-size: 0.9em;
        color: #2979FF; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__bar {
        width: 100%;
        display: block;
        position: relative;
        z-index: 1; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__bar:before, .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__bar:after {
        content: '';
        height: 2px;
        width: 0;
        position: absolute;
        bottom: 0;
        background: #2979FF;
        -webkit-transition: 0.2s ease all;
        -o-transition: 0.2s ease all;
        transition: 0.2s ease all; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__bar:before {
        left: 50%; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .c-textField__bar:after {
        right: 50%; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper input:focus ~ .c-textField__bar:before, .u-emailForm-wrapper .o-emailForm .u-textField-wrapper input:focus ~ .c-textField__bar:after {
        width: 50%; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .error {
        margin-top: 4px;
        font-size: 0.9em;
        color: #F44336; }
      .u-emailForm-wrapper .o-emailForm .u-textField-wrapper .active {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-animation: fadeIn 0.4s;
        animation: fadeIn 0.4s; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .u-emailForm-wrapper .o-emailForm .u-submit-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
