.o-header .u-header__links-wrapper .c-header__links-divider {
  width: 1px !important; }

.o-header .u-header__hero-wrapper .c-header__popover .u-popover__navigation-wrapper .c-popover__divider {
  height: 1px !important; }

.o-header .u-header__hero-wrapper .c-header__popover .u-header__contact-wrapper .m-popover--icon {
  width: 24px;
  height: 24px; }

.m-header--purple {
  background: #743fb5;
  color: #ffffff; }
  .m-header--purple a {
    color: #ffffff; }
  .m-header--purple a:hover {
    text-decoration: underline; }
  .m-header--purple .m-language--inactive {
    color: rgba(255, 255, 255, 0.48); }

.m-header--white {
  background: #ffffff;
  color: #595b6f; }
  .m-header--white a {
    color: #595b6f; }
  .m-header--white a:hover {
    text-decoration: underline; }
  .m-header--white .m-language--inactive {
    color: rgba(0, 0, 0, 0.48); }

.m-header--midtone {
  background: #484b53;
  color: #ffffff; }
  .m-header--midtone a {
    color: #ffffff; }
  .m-header--midtone a:hover {
    text-decoration: underline; }
  .m-header--midtone .m-language--inactive {
    color: rgba(255, 255, 255, 0.48); }

.m-header--black {
  background: #000000;
  color: #ffffff; }
  .m-header--black a {
    color: #ffffff; }
  .m-header--black a:hover {
    text-decoration: underline; }
  .m-header--black .m-language--inactive {
    color: rgba(0, 0, 0, 0.48); }

.o-header {
  width: 100%;
  height: 120px;
  padding: 0 40px;
  font-size: 0.9rem;
  line-height: 1.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative; }
  .o-header .c-header__mask {
    width: 1530px;
    height: 1800px;
    position: absolute;
    left: 32%;
    top: -420px;
    -webkit-transform: rotate(-58deg);
    -ms-transform: rotate(-58deg);
    transform: rotate(-58deg); }
  .o-header .m-header__mask--purple {
    background: -webkit-linear-gradient(302deg, #6a37b9 0%, #743fb5 100%);
    background: -o-linear-gradient(302deg, #6a37b9 0%, #743fb5 100%);
    background: linear-gradient(148deg, #6a37b9 0%, #743fb5 100%); }
  .o-header .m-header__mask--white {
    background: -webkit-linear-gradient(302deg, #fafaff 0%, #ffffff 100%);
    background: -o-linear-gradient(302deg, #fafaff 0%, #ffffff 100%);
    background: linear-gradient(148deg, #fafaff 0%, #ffffff 100%); }
  .o-header .m-header__mask--midtone {
    background: -webkit-linear-gradient(302deg, #424650 0%, #484b53 100%);
    background: -o-linear-gradient(302deg, #424650 0%, #484b53 100%);
    background: linear-gradient(148deg, #424650 0%, #484b53 100%); }
  .o-header .m-header__mask--black {
    background: -webkit-linear-gradient(302deg, #1d1d24 0%, #000000 100%);
    background: -o-linear-gradient(302deg, #1d1d24 0%, #000000 100%);
    background: linear-gradient(148deg, #1d1d24 0%, #000000 100%); }
  .o-header .u-header__hero-wrapper:hover .c-header__popover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .o-header .u-header__hero-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2; }
    .o-header .u-header__hero-wrapper .c-header__popover {
      width: 440px;
      display: none;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      position: fixed;
      left: 8px;
      top: 8px;
      z-index: 2;
      padding: 32px;
      background: #ffffff;
      color: #595b6f;
      -webkit-box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.4);
      box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.4); }
      .o-header .u-header__hero-wrapper .c-header__popover .u-header__contact-wrapper {
        margin: 32px 0 8px 64px; }
        .o-header .u-header__hero-wrapper .c-header__popover .u-header__contact-wrapper .m-popover--icon {
          vertical-align: bottom;
          margin-right: 1.5em;
          opacity: 0.56; }
      .o-header .u-header__hero-wrapper .c-header__popover .u-popover__navigation-wrapper {
        display: none;
        margin: 32px 0 0 64px; }
        .o-header .u-header__hero-wrapper .c-header__popover .u-popover__navigation-wrapper .c-popover__divider {
          width: 100%;
          margin: 0 -32px 0 -32px;
          background: #c3ccd6; }
    .o-header .u-header__hero-wrapper .u-user-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .o-header .u-header__hero-wrapper .c-header__hero {
      width: 40px;
      height: 40px;
      margin-right: 24px;
      background: url(https://api.adorable.io/avatars/285/lorant@adorable.io.png);
      background-size: cover;
      border-radius: 100%; }
    .o-header .u-header__hero-wrapper .c-header__name {
      font-weight: 600;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center; }
  .o-header .u-header__fillspace {
    -webkit-box-flex: 1 !important;
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important; }
  .o-header .u-header__links-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 1; }
    .o-header .u-header__links-wrapper .c-header__navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center; }
    .o-header .u-header__links-wrapper .c-header__links-divider {
      height: 48px;
      margin: 0 40px 0 40px;
      background: #c3ccd6; }
    .o-header .u-header__links-wrapper .c-header__language {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-item-align: center;
      align-self: center; }
    .o-header .u-header__links-wrapper .m-language--active {
      font-weight: 600;
      text-decoration: underline; }

.s-overflow--hidden {
  overflow: hidden; }

@media all and (max-width: 800px) {
  .c-header__navigation, .c-header__links-divider {
    display: none !important; }
  .u-popover__navigation-wrapper {
    display: block !important; } }

@media all and (max-width: 456px) {
  .o-header {
    height: 80px !important;
    padding: 0 24px; }
  .c-header__popover {
    width: 100% !important;
    left: 0 !important;
    top: 4px !important;
    padding: 16px 16px 16px 24px !important; } }
