body {
  font-family: "Open Sans", sans-serif;
  color: #595b6f; }

.divider-vertical {
  width: 1px !important; }

.divider-horizontal {
  height: 1px !important; }

.bg-white {
  background: #ffffff; }

.bg-grey600 {
  background: #c3ccd6; }
