@import 'variables';

// 0.  GLOBAL
// 0.1 Ripple Effect
// 1.  BUTTONS
// 1.1 Primary button
// 1.2 Secondary button
// 1.3 Floating action button
// 1.4 Download button
// 2.  TEXTFIELD
// 3.  LISTS
// 3.1 Table of content
// 3.2 Emailarchive
// 3.3 Projectlist
// 9.  MISC
// 9.1 Color swatches




// 0.  GLOBAL
// 0.1 Ripple effect
// Include button-ripple.js and add data-ripple to element
.ripple{
    position: absolute;
    top:0; left:0; bottom:0; right:0;
    overflow: hidden;
    -webkit-transform: translateZ(0); /* to contain zoomed ripple */
    transform: translateZ(0);
    border-radius: inherit; /* inherit from parent (rounded buttons etc) */
    pointer-events: none;   /* allow user interaction */
    animation: ripple-shadow 0.4s forwards;
}

.rippleWave{
    backface-visibility: hidden;
    position: absolute;
    border-radius: 50%;
    transform: scale(0.7); -webkit-transform: scale(0.7);
    background: rgba(255,255,255, 1);
    opacity: 0.24;
    animation: ripple 2s forwards;
}

@keyframes ripple-shadow {
    0%   {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
    20%  {box-shadow: 0 4px 16px rgba(0,0,0,0.04);}
    100% {box-shadow: 0 0 0 rgba(0,0,0,0.0);}
}

@keyframes ripple {
    to {transform: scale(24); opacity:0;}
}

// 1.  BUTTONS
// 1.1 Primary button
// Apply to <a> tag
.c-primaryButton {
    @extend %t-primaryButton__a;
    color: $white;

    margin: 3em auto 0 auto;
    padding: 1.5em 2.5em;

    background: $blue;
    border: 0;
    border-radius: 100px;

    outline: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
    position: relative;
}

.c-primaryButton:hover {
    background: $blue-asc;
    box-shadow: 0 2px 24px 0 $blue;
}

.c-primaryButton:focus {
    box-shadow: 0 2px 40px 0 $blue;
}

// 1.2 Secondary button
// Apply to <a> tag
.c-secondaryButton {
    @extend %t-secondaryButton__a;
    color: $white;

    margin: 0;
    padding: 1.2em 2em;

    border: solid 1px $white;
    border-radius: 100px;

    outline: 0;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.c-secondaryButton:hover, .c-secondaryButton:focus {
    color: $grey300;

    background: $white;
    box-shadow: 0 2px 8px $transparent40;
}

.c-secondaryButton:active {
    background: $grey600;
}

// 1.3 Floating action button
.c-floatingAction {
    width:  3.5em;
    height: 3.5em;

    position: fixed;
    bottom:   3em;
    left:     3em;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100%;
    box-shadow: 0 2px 8px 0 $transparent40;

    transition: box-shadow 0.2s ease-in-out;

    z-index: 2;

    .m-floatingAction--icon {
        transition: all 0.2s ease-in-out;
    } 
}

.c-floatingAction:hover {
    box-shadow: 0 4px 16px 0 $transparent40;
}

.c-floatingAction:hover .m-floatingAction--icon {
    color: $black;
}

.m-floatingAction--white {
    background: $white;
}

.m-floatingAction--white:active {
    background: $white-desc;
}

.m-floatingAction--blue {
    background: $white;
}

.m-floatingAction--blue:active {
    background: $blue-desc;
}

.m-floatingAction--navy {
    background: $navy;
}

.m-floatingAction--navy:active {
    background: $navy;
}

.m-floatingAction--purple {
    background: $purple;
}

.m-floatingAction--purple:active {
    background: $purple-asc;
}

// 1.4 Download button
// used at: the-chameleon-design-system.html
.c-btn__downloadFile-wrapper {
    width: fit-content;

    display: flex;
    align-items: center;

    border-radius: 100px;

    padding: 0.875em 2em;
    margin: 2.5em auto 2em auto;

    box-shadow: 0 2px 24px 0 $transparent16;

    cursor: pointer;
    transition: all 0.2s ease-in-out;

    .u-text-wrapper {
        margin-left: 1.5em;

        .c-btn__downloadFile__h1 {
            @extend %t-article__p--small;

            color: $grey100;
            font-weight: 600;
            text-transform: uppercase;
        }

        .c-btn__downloadFile__p {
            @extend %t-article__p--small;

            color: $grey500;
            font-weight: 600;
        }
    }
}

.c-btn__downloadFile-wrapper:hover {
    background: $grey700;
    box-shadow: 0 2px 24px 0 $transparent24;
}

.c-btn__downloadFile-wrapper:active {
    background: $grey600;
    box-shadow: 0 2px 16px 0 $transparent24;
}

// 2.  TEXTFIELD
.u-textField-wrapper {
    position: relative;
    margin-top: 3.5em;
    
    .c-textField {
        width: 100%;
        padding: 10px 0;

        display: block;

        font-family: $primary-font;
        font-size: 1em;
        background: $transparent;

        border: none;
        border-bottom: 1px solid $grey600;
    }

    .t-textField--light {
        color: $grey200;
    }

    .t-textField--dark {
        color: $white;
    }
      
    input:focus {
        outline: none;
    }

    .c-textField__label {
        font-family: $primary-font;
        color: $grey500;
        font-size: 1em;
        font-weight: 500;

        position: absolute;
        left: 0;
        top:  12px;

        pointer-events: none;
        transition: 0.2s ease all;
    }

    .m-textField__label--white {
        color: $white;
    }
      
    input:focus ~ label, input:valid ~ label {
        top: -20px;
        font-size: 0.9em;
        color: $blue;
    }

    .u-labelPositioner__js {
        top: -20px;
        font-size: 0.9em;
        color: $blue;
    }

    .c-textField__bar {
        width: 100%;

        display: block;
        position: relative;

        z-index: 1;
    }
      
    .c-textField__bar:before, .c-textField__bar:after 	{
        content: '';
        height: 2px;
        width:  0;

        position: absolute;
        bottom:   0;
        
        background: $blue;

        transition: 0.2s ease all;
    }
      
    .c-textField__bar:before {
        left: 50%;
    }
      
    .c-textField__bar:after {
        right: 50%;
    }
      
    input:focus ~ .c-textField__bar:before, input:focus ~ .c-textField__bar:after {
        width: 50%;
    }

    .error {
        margin-top: 4px;

        font-size: 0.9em;
        color:     $red;
    }
      
    .active {
        display: flex;
    
        animation: fadeIn 0.4s;
    }
      
    @keyframes fadeIn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

// 3.  LISTS
// 3.1 Table of content
// used at: design subpages, element of cover
.c-cover__table-of-content {
    max-width: 38em;
    position: relative;
    z-index: 1;

    .u-table-of-content-wrapper {
        width: 100%;
        margin-left: 7.5em;
        background: $white;

        box-shadow: 0 0.25em 2.5em 0 $transparent24;

        position: relative;
        z-index:  2;

        .c-table-of-content__item {
            display: flex;
            align-items: center;

            padding: 1.75em 2.5em;

            border-bottom: solid 1px $grey600;
            cursor: pointer;

            box-shadow: 0;

            transition: all 0.2s ease-in-out;

            .u-cover__listNumber-wrapper {
                position: relative;
                margin-right: 2em;

                .t-cover__listNumber {
                    @extend %t-strokedEffect;
                    font-size: 3em;
                    -webkit-text-stroke-color: $blue;
                }

                .t-cover__listNumber--under {
                    position: absolute;
                    top:  0;
                    left: 4px;
                    z-index: -1;

                    @extend %t-strokedEffect;
                    font-size: 3em;
                    -webkit-text-stroke-color: $neon;
                }
            }

            p {
                @extend %t-article__h3;
                margin: 0;
            }
        }

        .c-table-of-content__item:hover {
            background: $white;
            box-shadow: 0 0 1.5em 0 $transparent40;

            transform: scale(1.01);
        }
    }
}


// 3.2 Emailarchive
// used at: signup.html
.c-cover__email-archive-list {
    max-width: 800px;
    position: relative;
    z-index: 1;

    margin: 0 auto;

    .u-email-archive-list-wrapper {
        width: 100%;
        background: $white;

        box-shadow: 0 0.25em 2.5em 0 $transparent24;

        position: relative;
        z-index:  2;

        .c-email-archive-list__item {
            display: flex;
            flex-direction: column;

            padding: 1.75em 2.5em;

            border-bottom: solid 1px $grey600;
            cursor: pointer;

            box-shadow: 0;

            transition: all 0.2s ease-in-out;

            p {
                @extend %t-article__h3;
                margin: 0;
            }

            time {
                @extend %t-article__p--small;
                color: $grey500;
            }
        }

        .c-email-archive-list__item:hover {
            background: $white;
            box-shadow: 0 0 1.5em 0 $transparent40;

            transform: scale(1.01);
        }
    }
}

// 3.3 Projectlist
// used at: standalones
.c-projectList {
    max-width: 800px;
    position: relative;
    z-index: 1;

    margin: 0 auto;

    .t-projectList__prologueTitle {
        @extend %t-article__h2;
        margin: 2.5em 0.5em 1em 0.5em;
    }

    .u-projectList-wrapper {
        width: 100%;
        background: $white;

        box-shadow: 0 0.25em 2.5em 0 $transparent24;

        position: relative;
        z-index:  2;

        .c-projectList__item {
            display: flex;
            flex-direction: column;

            border-bottom: solid 1px $grey600;
            cursor: pointer;

            box-shadow: 0;

            transition: all 0.2s ease-in-out;

            .u-projectList__item-wrapper {
                display: flex;
                flex-direction: row;

                .c-previewCover {
                    width:  120px;
                    height: auto;

                    background-size: cover !important;
                }

                .m-previewCover--say-goodbye {
                    background: url(../assets/img/art/standalones/04-say-goodbye/00-cover/say-goodbye-cover--small.jpg) center center;
                }

                .m-previewCover--portrait-painting {
                    background: url(../assets/img/art/standalones/03-portrait-painting-tutorial/00-cover/portrait-painting-cover--small.jpg) center center;
                }

                .m-previewCover--reality {
                    background: url(../assets/img/art/standalones/02-reality/00-cover/reality-cover--small.jpg) center center;
                }

                .m-previewCover--sober-heart {
                    background: url(../assets/img/art/standalones/01-sober-heart/00-cover/sober-heart-cover--small.jpg) center center;
                }

                .u-projectDetails-wrapper {
                    padding: 1.75em 2.5em;

                    p {
                        @extend %t-article__h3;
                        margin: 0;
                    }
        
                    time {
                        @extend %t-article__p--small;
                        color: $grey500;
                    }
                }
            }
        }

        .c-projectList__item:hover {
            background: $white;
            box-shadow: 0 0 1.5em 0 $transparent40;

            transform: scale(1.01);
        }
    }
}

// 4.  SOCIALSHARE
// 4.1 Socialshare
.u-socialShare-wrapper {
    position: fixed;
    bottom: 2em;
    right:  2em;

    z-index: 2;

    padding: 2em;

    border-radius: 2px;
    background: $white;
    box-shadow: 0 0.25em 0.5em 0 $transparent24;

    display: none;

    .t-socialShare__h1 {
        @extend %t-article__h3;
        margin: 0;
    }

    .t-socialShare__a {
        @extend %t-article__p--small;
        font-weight: 600;
        color: $grey550;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .t-socialShare__a:hover {
        color: $grey500;
        text-decoration: underline;
    }

    .u-socialIcons-wrapper {
        display: flex;
        margin: 1em 0;

        .u-icon-wrapper {
            width:  2.5em;
            height: 2.5em;

            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 1.75em;

            margin-right: 0.875em;

            transition: all 0.1s ease-in-out;

            img {
                width: auto;
                height: 1.125em;
            }
        }

        .u-icon-wrapper:hover {
            transform: scale(1.1);
        }

        .u-icon-wrapper:focus {
            box-shadow: 0 0 4px 2px $blue;
            outline: 0;
        }

        .m-background--facebook {
            background: #3b5998;
        }

        .m-background--linkedin {
            background: #0077b5;
        }

        .m-background--twitter {
            background: #1da1f2;
        }
    }
}

@media all and (max-width: 1024px) {
    .u-socialShare-wrapper {
        display: none !important;
    }
}

// 9.  MISC
// 9.1 Color swatches
// used at: the-chameleon-design-system.html
.u-colorSwatches-wrapper {
    display: flex;
    align-items: center;

    margin-top: 4em;

    .t-colorSwatches__p {
        @extend %t-article__p--small;

        color: $grey100;
        font-weight: 600;
        text-transform: uppercase;
    }

    .c-colorSwatches {
        width:  2.5em;
        height: 2.5em;

        margin-left: 1em;

        box-shadow: 0 2px 8px 0 $transparent24;
        transition: all 0.2s ease-in-out;

        cursor: pointer;
    }

    .c-colorSwatches:hover {
        box-shadow: 0 2px 16px 0 $transparent40;
    }

    .active {
        box-shadow: 0 0 2px 2px $blue48 !important;
    }
}

.m-bg--light {
    background: $white-desc;
    border: 1px solid $grey700;
}

.m-bg--midtone {
    background: $midtone-asc;
}

.m-bg--dark {
    background: $black-asc;
}