.u-chapter__chapterTitle-wrapper {
    display: flex;
    align-items: center;

    margin-bottom: 2.5em;

    .u-chapter__chapterNumber-wrapper {
        position: absolute;
        margin-top: -0.75em;

        .t-chapter__chapterNumber {
            @extend %t-strokedEffect;
            -webkit-text-stroke-color: $blue;

            font-size: 6em;
        }

        .t-chapter__chapterNumber--under {
            position: absolute;
            top:  0;
            left: 4px;
            z-index: -1;

            @extend %t-strokedEffect;
            -webkit-text-stroke-color: $neon;

            font-size: 6em;
        }
    }

    .t-chapter__title {
        @extend %t-chapter__h2;

        margin: 2em 0 0 2.5em;
        z-index: 1;
    }
}

.u-chapter__chapterSubtitle-wrapper {
    display: flex;
    align-items: center;

    margin: 6em 0 2.5em 0;

    .u-chapter__chapterBox-wrapper {
        position: relative;
        margin-right: 2em;

        .t-chapter__chapterBox {
            width:  2em;
            height: 2em;
            border: 1px solid $blue;
        }

        .t-chapter__chapterBox--under {
            width:  2em;
            height: 2em;

            position: absolute;
            top: -4px;
            left: 4px;
            z-index: -1;

            border: 1px solid $neon;
        }
    }

    .t-chapter__subtitle {
        @extend %t-chapter__h3;
    }
}


@media all and (max-width: 600px) {
    .u-chapter__chapterTitle-wrapper {

        .u-chapter__chapterNumber-wrapper {
            margin-top: -3.125em;
        }

        .t-chapter__title {
            margin: 0.875em 0 0 0;
        }
    }
}