@import 'variables';
@import 'typography';

.c-pageError__illustration {
    width:     100%;
    max-width: 960px;

    display: block;

    padding: 0 1.5em;
    margin: 0 auto;
}

@media all and (max-width: 560px) {
    .c-pageError__illustration {
        width: 120%;
        transform: translateX(-10%);
    }
}

.t-pageError__h1 {
    @extend %t-article__h1;

    margin: 0 1em 1.5em 1em !important;
    text-align: center;
}

.t-pageError__p {
    @extend %t-article__h3;
    color: $grey500;

    margin: 1em 0 0.875em 0 !important;
    text-align: center;
}