//sticky footer: https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/
@import 'variables';
@import 'typography';

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh; 
}

.u-overFlowX-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    justify-content: center;
    flex: 1;

    position: relative;
    z-index: 1;

    .js-fadingBlock {
        will-change: transform;
        transition: 1s all ease-in-out;
    }

    .c-pageTitle {
        .t-pageTitle__h1 {
            @extend %t-article__h1;
    
            margin: 2rem 0;
            text-align: center;
    
            z-index: 2;
            position: relative;
        }
    }

    section {
        margin: 0 auto;

        .t-aboutProject__a {
            @extend %t-article__h3;

            color: $blue;
            cursor: pointer;
        }

        .t-aboutProject__a:hover {
            color: $blue-asc;
        }
    }

    //text introduction to articles
    // apply to section
    .o-article {
        max-width: 800px;
        padding: 4em 1.5em;

        margin: 0 auto;

        .t-article__h1 {
            @extend %t-article__h1;
        }

        .t-article__h2 {
            @extend %t-article__h2;
        }

        .t-article__p {
            @extend %t-article__p;
        }

        a {
            text-decoration: none;
            color: $grey300;
        }

        a:active {
            color: $white;
        }

        .t-article__a {
            @extend %t-article__a;
        }
    }
    


    //chapter design for articles
    //apply to section
    .o-article--chapter {
        max-width: 800px;
        padding: 4em 1.5em;

        margin: 0 auto;

        position: relative;
        z-index: 1;

        .t-chapter__prologueTitle {
            @extend %t-article__h2;
        }

        .t-chapter__p {
            @extend %t-article__p;
        }

        .u-highlight-wrapper {
            margin: 3em 0;
            text-align: center;

            mark {
                @extend %t-article__h2;
                @extend %t-highlight;
            }

            p {
                margin-top: 2em;
            }
        }

        a {
            text-decoration: none;
            color: $grey300;
        }

        a:active {
            color: $white;
        }

        .t-article__a {
            @extend %t-article__a;
        }
    }


    // Video section
    .o-video--chapter {
        width:  60vw;
        height: 33.75vw;

        margin-bottom: 4em;

        position: relative;

        .u-video-wrapper {
            width:  100%;
            height: 100%;
        }
    }

    @media all and (max-width: 1400px) {
        .o-video--chapter {
            width:  80vw;
            height: 45vw;
        }
    }

    @media all and (max-width: 920px) {
        .o-video--chapter {
            width:  100vw;
            height: 56.25vw;
        }
    }


    //image gallery wrapper for artworks
    //apply to section
    .o-artGallery {
        display:        flex;
        flex-direction: column;
        align-items:    center;

        figure {
            padding: 0 1.5em;
        }

        figcaption {
            padding: 0 1.5em;
        }
    }

    
}

.u-article--sliding-wrapper {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    position: absolute;
    right: -100vw;
    z-index: 1;

    padding: 0 2em;

    transition: transform 1s ease-in-out;

    .o-article--sliding {
        max-width: 800px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .t-article--sliding__a {
            @extend %t-article__a;
        }
    
        .t-article--sliding__p {
            @extend %t-article__h3;
        }
    }
}