.u-cover-wrapper {
    min-height: 100vh;
    width: 100%;

    margin-bottom: 6em;

    .u-video-wrapper {
        width:  100%;
        height: 100vh;

        position: absolute;
        object-fit: cover;
    }

    .o-cover-wrapper {
        width: 100%;
        height: 100%;
        position: absolute;

        .u-cover__layer {
            height: 100vh;
            width: 100%;
    
            position: absolute;
            top:  0;
            left: 0;

            background-size: cover !important;
        }

        .u-cover__mask {
            background: url(../assets/img/design/modular-design-with-design-systems/cover/cover__mask.png) center center;
            z-index: 1;
        }



        .u-cover__foreground--mdwds {
            background: url(../assets/img/design/modular-design-with-design-systems/cover/mdwds-cover__layer-1.png) center center;
            z-index: 0;
        }

        .u-cover__background--mdwds {
            background: url(../assets/img/design/modular-design-with-design-systems/cover/mdwds-cover__layer-2.png) center center;
            z-index: -1;
        }



        .u-cover__foreground--tcds {
            background: url(../assets/img/design/the-chameleon-design-system/cover/tcds-cover__layer-1.png) center center;
            z-index: 0;
        }

        .u-cover__midground--tcds {
            background: url(../assets/img/design/the-chameleon-design-system/cover/tcds-cover__layer-2.png) center center;
            z-index: 0;
        }

        .u-cover__background--tcds {
            background: url(../assets/img/design/the-chameleon-design-system/cover/tcds-cover__layer-3.png) center center;
            z-index: -1;
        }



        .u-cover__background--reality {
            background: url(../assets/img/art/standalones/01-reality/cover/reality-cover.jpg) center center;
            z-index: -1;
        }


    }

    .t-cover__h1 {
        @extend %t-cover__h1;
        color: $white;

        position: relative;

        margin: 1.5rem 0 3rem 7.5rem;
    }

    .t-cover__h2 {
        @extend %t-cover__h1;
        color: $white;

        position: relative;
        text-align: center;

        margin: 0.5rem 2rem 0 2rem;
    }

    .t-cover__h3 {
        @extend %t-cover__h2;
        color: $white;

        position: relative;
        text-align: center;

        margin: 1.5rem 2rem 0 2rem;
    }

    .u-video__mute--icon {
        position: absolute;
        top:   6em;
        right: 2em;

        z-index: 1;
        cursor: pointer;

        opacity: 0.56;
        transition: all 0.2s ease-in-out;
    }

    .u-video__mute--icon:hover {
        opacity: 1;
    }
}

@media all and (max-width: 920px) {
    .u-cover-wrapper {
        min-height: 50vh;
        margin-bottom: 3em;

        .u-emailForm-wrapper {
            margin-bottom: 0;
        }

        .o-cover-wrapper {

            .u-cover__layer { 
                height: 50vh;
            }
        }

        .t-cover__h1 {
            text-align: center;
            font-size: 3em;
            margin: 1.5rem 0 3rem 0;
        }

        .t-cover__h2 {
            font-size: 3em;
            margin: 1.5rem 1rem 0 1rem;
        }

        .t-cover__h3 {
            font-size: 1.5em;
        }

        .c-cover__table-of-content {
            margin: 0 auto !important;

            .u-table-of-content-wrapper {
                margin: 0;
            }
        }
    }
}

@media all and (max-width: 600px) {
    .o-cover-wrapper {

        .u-cover__mask {
            display: none;
        }
    }
}

@media all and (max-width: 456px) {
    .u-cover-wrapper {
        min-height: 45vh;

        .o-cover-wrapper {

            .u-cover__layer { 
                height: 45vh;
            }
        }

        .t-cover__h1 {
            font-size: 2.25em;
            margin: 1.5rem 0 3rem 0;
        }

        .t-cover__h2 {
            font-size: 2.25em;
        }

        .t-cover__h3 {
            font-size: 1em;
        }

        .c-cover__table-of-content {

            ol {
                width: 100% !important;
            }
        }
    }
}