$transparent:     rgba(0, 0, 0, 0);
$transparent16:   rgba(0, 0, 0, 0.16);
$transparent24:   rgba(0, 0, 0, 0.24);
$transparent40:   rgba(0, 0, 0, 0.4);

$w-transparent40: rgba(255, 255, 255, 0.4);
$w-transparent96: rgba(255, 255, 255, 0.96);

$blue48:          rgba(41, 121, 255, 0.48);

$blue-desc80:     rgba(13, 71, 161, 0.8);
$blue-desc08:     rgba(13, 71, 161, 0.08);

$purple:        #743fb5; //about header bg
$purple-asc:    #6a37b9; //about header mask
$navy:          #3f51b5; //product header bg
$navy-asc:      #5453b1; //product header mask
$midtone:       #484b53; //daydreaming bg
$midtone-asc:   #424650; //daydreaming header mask
$black:         #000000; //dividedsoul bg
$black-asc:     #0c0c0f; //dividedsoul header mask
$white:         #ffffff; //light header bg
$white-desc:    #fafaff; //light header mask

$blue:          #2979FF; //links
$blue-asc:      #448AFF; //links hover
$blue-desc:     #0D47A1;

$neon:          #00FFDF; //secondary link

$red:           #F44336; //error
$green:         green;   //success

$grey100:       #1d1d24; //dividedisul footer bg
$grey200:       #424650; //copy of daydreaming footer bg
$grey300:       #484b53; //daydreaming bg
$grey400:       #595b6f; //primary font
$grey500:       #8a8a9b; //secondary font, light footer txt
$grey550:       #aeb2b7; //grey link (500) hover
$grey600:       #cfd4da; //dark footer txt
$grey650:       #ededf8; //grey700 hover
$grey700:       #fafaff; //light footer bg

$primary-font: 'Open Sans', sans-serif;

